<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <pre>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum impedit similique ab sint laborum quis exercitationem reiciendis libero labore ipsum dignissimos at, sapiente minima, deleniti optio animi? Eos, dolor velit?
    Ratione hic error officia mollitia et est magnam omnis voluptatum fuga consequatur fugit dolor culpa vel tenetur soluta veniam sint temporibus aliquid, pariatur minima quaerat. Quasi eveniet soluta pariatur eos?</pre>
    
</body>
</html>