{% extends "base.html" %}

{% block title %}About Page{% endblock %}

{% block nav %}this is my Navbar.{% endblock %}

{% block content %}
  <p>Welcome to the About Section.</p>
  <pre>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi totam excepturi, aliquam, quasi illo deserunt facilis alias iure inventore reprehenderit numquam vel ducimus, quos culpa. A deleniti nemo temporibus totam.
  Natus doloribus eaque alias in. Facilis necessitatibus culpa inventore itaque, voluptate fugit debitis laudantium, aliquam eligendi laboriosam dolores distinctio adipisci. Unde, corrupti obcaecati accusamus veniam aspernatur officiis nostrum quo eveniet?
  Harum ullam libero quam animi ad vitae aspernatur modi molestiae veniam tempora. Rem tenetur tempore nostrum sed, delectus possimus ducimus quibusdam veritatis perferendis, excepturi veniam modi quos molestiae doloribus obcaecati?
  Cupiditate earum doloremque soluta necessitatibus aspernatur. Dicta, molestias cumque. Tenetur, unde corporis soluta voluptatum voluptate eos dolorem quam non minima officiis voluptates fuga? Ex maxime placeat fugit quaerat. Veniam, dolorum!
  Et, eos sequi obcaecati quis accusantium voluptatem maiores voluptate assumenda, itaque nisi aut quidem placeat aliquam blanditiis unde explicabo dignissimos illo aperiam excepturi? A provident voluptas est nemo? Rerum, ducimus.
  Eum quos repellat officiis inventore eos suscipit iusto autem neque odio, impedit officia fuga, dolor quod qui obcaecati totam eaque delectus sed! Aliquam pariatur ex eaque hic itaque consequuntur at?
  Cupiditate nihil at commodi corporis aspernatur eligendi quo, iure possimus voluptatibus qui corrupti dolores, laborum voluptatum distinctio hic aliquid voluptas, necessitatibus doloribus accusamus magni saepe numquam enim perferendis odit? Sint.
  Praesentium quasi, quis voluptas eum exercitationem quaerat modi doloremque iste neque nobis omnis pariatur aliquid ad dolores accusantium consectetur similique laudantium ipsum velit non eveniet. Sequi sit incidunt earum qui.
  A sequi iure mollitia ab nisi quae quas totam voluptas cum nesciunt repudiandae minus vel, aperiam ut fugit porro ex esse ullam incidunt modi odio. Iste, sunt impedit! Architecto, cum!
  Sequi cumque quo, assumenda sit, harum quibusdam dolor asperiores est dignissimos fuga ipsum, eaque quidem! Corrupti, itaque magnam. Labore laboriosam atque nobis pariatur voluptatum eligendi earum deserunt totam tenetur aut?
  Placeat nulla beatae quisquam vero quo ipsum hic vel possimus architecto quia qui maxime vitae omnis quis fugiat maiores accusamus, voluptate deleniti nemo in voluptatibus. Quas inventore animi ab nostrum?
  Saepe ipsam beatae ab! Alias corporis, modi aliquid molestias ratione eaque non, quasi explicabo aspernatur expedita veniam molestiae quidem facere quos dolor sunt. Ipsa eveniet, commodi ratione deleniti vel tenetur?
  Ducimus nostrum nesciunt consequatur molestiae itaque, ullam eaque praesentium consectetur atque maxime aliquid recusandae quaerat dolores ipsam ad! Neque nobis quaerat animi laboriosam blanditiis optio consectetur quos, fugit illo dolor.
  Fugiat aut officia esse fugit, similique repellat odio ipsum accusantium quos laboriosam pariatur quasi sapiente quibusdam praesentium quam ex repellendus eos voluptate mollitia culpa nihil impedit eaque dignissimos! Quia, architecto.
  Similique mollitia sunt exercitationem, maxime quos aperiam perferendis aliquid! Dicta explicabo necessitatibus numquam molestias voluptas vero quidem fugiat maiores error, tempora vitae, commodi nam rem cumque odit! Sunt, placeat dolorum.
  Provident distinctio asperiores ipsam voluptas dolor nam, consequatur rem beatae incidunt voluptates molestiae. Officiis et distinctio repellat pariatur fugiat, non ullam quas, eius earum porro, sunt ab omnis sint temporibus.
  Exercitationem sint amet pariatur libero fugit temporibus quod aut, delectus, facere commodi labore, dolores nobis cum molestiae. Et iusto numquam, maiores natus minima expedita? Quia fugit numquam aperiam nisi ab!
  Reprehenderit, earum minima. Velit libero est consequatur expedita consectetur odio quos debitis, nesciunt, quo nulla dolor ut pariatur beatae a, animi veniam neque distinctio soluta rerum commodi. Voluptas, doloremque placeat!
  Non nesciunt ratione, enim beatae autem aliquam quae, cumque atque natus commodi at. Quidem animi magni deleniti cumque alias pariatur ea. Delectus error veritatis sit alias ipsum quaerat earum amet.
  Esse rerum ex repudiandae magni! At officia quasi tempora, eos placeat vero, ex eaque possimus tenetur incidunt necessitatibus maiores. Praesentium culpa voluptas perspiciatis officiis a iste fuga suscipit harum alias.</pre>
{% endblock %}

{%block footer %}{% endblock %}