{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
  <p>Welcome to the homepage.</p>
  <pre>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quos molestias excepturi laborum ipsam magni libero, dicta odio inventore natus ratione aliquid ut a aut dolorem, fuga, at accusamus ea?
  Numquam deserunt nesciunt quibusdam laudantium. Omnis beatae, earum minima nobis dignissimos incidunt modi cumque, ipsa rem quos aperiam at. Molestiae, tempore a. Commodi distinctio ratione dolor porro in natus incidunt.
  Nulla fugit explicabo vero accusantium, beatae tenetur cupiditate obcaecati reprehenderit voluptatum labore sunt enim assumenda, tempora consequatur saepe quasi. Illo cupiditate natus, sapiente ad voluptatum autem minus asperiores accusantium distinctio.
  Molestias alias pariatur sit ex iure consequatur nesciunt hic labore! Minus quaerat, sit blanditiis quos recusandae dolorem? Maiores, at, laboriosam, modi earum perferendis pariatur deleniti aut omnis eveniet debitis officia.
  Libero similique ullam ad amet! Illum amet sed quod modi voluptatum! Fugiat vero molestiae veniam provident natus architecto minima sit quidem similique, aut laborum labore aperiam facere quisquam fugit iusto?
  Hic commodi dignissimos maxime assumenda nobis culpa eaque sapiente, fugit provident nisi amet veritatis, inventore similique! Possimus eius impedit, ex unde perferendis eos. Exercitationem, autem harum aliquam commodi ducimus nihil.
  </pre>
{% endblock %}

{%block footer %}{% endblock %}